@use "@angular/material" as mat;
@use "variables" as *;

:host {
  @include mat.slider-overrides(
    (
      label-container-color: $secondary-background,
      label-label-text-color: $primary-text,
      handle-color: $secondary-background,
      focus-handle-color: $secondary-background,
      hover-handle-color: $secondary-background,
      active-track-color: $secondary-background,
      inactive-track-color: $secondary-background,
      hover-state-layer-color: none,
      focus-state-layer-color: none,
    )
  );
}

.game {
  &__slider {
    width: 100%;
  }

  &__slider-title {
    font-size: 13px;
  }
}
