{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 140,
  "tabWidth": 2,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-attributes"],
  "attributeGroups": [
    "^\\*",
    "^\\w+(?<!data|aria|http|let)-",
    "^(id|\\[id\\])$",
    "^class$",
    "^\\[class\\.",
    "^#",
    "^let-",
    "$DEFAULT",
    "^\\[[^\\(@]",
    "^\\[\\(",
    "^\\(",
    "^@",
    "^\\[@"
  ],
  "attributeSort": "ASC"
}
