@use "@angular/material" as mat;
@use "variables" as *;

:host {
  @include mat.toolbar-overrides(
    (
      container-background-color: none,
    )
  );
}

.page-wrapper {
  &__toolbar {
    position: relative;
  }

  &__back-button {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100%;

    color: $secondary-text;
  }

  &__action-buttons {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 100%;

    button {
      color: $secondary-text;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    color: $secondary-text;
    font-size: 14px;
    font-weight: 500;
  }
}
