@use "variables" as *;

:host {
  color: $secondary-text;
}

.game {
  display: grid;
  grid-template-rows: 25% 50% 25%;
  height: 100%;

  &__top-wrap,
  &__bottom-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $secondary-background;

    color: $primary-text;
  }

  &__center-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    gap: 15px;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    padding: 5px;

    border-radius: 10px;

    background-color: $tertiary-background;

    color: $primary-text;
    text-align: center;
  }

  &__play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;

    border-radius: 100px;

    background-color: $tertiary-background;

    color: $primary-text;
    text-align: center;
  }
}
