.teams {
  &__item {
    &:active {
      background-color: #ccced0;
    }
  }

  &__item-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add-button {
    width: 100%;
  }
}
