<div class="header">
  <mat-icon class="header__logo" svgIcon="logo" />
</div>

<div class="body">
  <div class="buttons">
    <button class="buttons__button" mat-flat-button disabled [routerLink]="routeNames.Game">Продолжить</button>
    <button class="buttons__button" mat-flat-button [routerLink]="routeNames.GameSettings">Новая игра</button>
    <button class="buttons__button" mat-flat-button [routerLink]="routeNames.Rules">Правила</button>
  </div>
</div>

<div class="footer">
  <div class="by">
    <span class="by__info">designed and developed by</span>
    <span class="by__name">seryiyvolk</span>
  </div>
</div>
