<div class="header">
  <mat-icon class="header__logo" svgIcon="logo" />
</div>

<div class="body">
  <div class="buttons">
    @if (isGameExists()) {
      <button mat-flat-button class="buttons__button" [routerLink]="routeNames.Game">
        Продолжить
      </button>
    }

    <button mat-flat-button class="buttons__button" [routerLink]="routeNames.TeamsSettings">
      Новая игра
    </button>

    <button mat-flat-button class="buttons__button" [routerLink]="routeNames.Rules">Правила</button>
  </div>
</div>

<div class="footer">
  <span>designed and developed by seryiyvolk</span>
</div>
