<div class="header">
  <mat-icon class="header__logo" svgIcon="logo"></mat-icon>
</div>

<div class="body">
  <div class="buttons">
    <button class="buttons__button" mat-flat-button [routerLink]="RouteNames.Game" disabled>Продолжить</button>
    <button class="buttons__button" mat-flat-button [routerLink]="RouteNames.GameSettings">Новая игра</button>
    <button class="buttons__button" mat-flat-button [routerLink]="RouteNames.Rules">Правила</button>
  </div>
</div>

<div class="footer">
  <div class="by">
    <span class="by__info">designed and developed by</span>
    <span class="by__name">seryiyvolk</span>
  </div>
</div>
