.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 50px 0;
  gap: 15px;

  &__logo {
    width: 100px;
    height: 100px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-size: 15px;
    font-weight: 600;
  }

  &__description {
    font-size: 12px;
    font-weight: 400;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  gap: 20px;
}

.rule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &__icon {
    width: 40px;
    height: 40px;

    font-size: 40px;
  }

  &__description {
    flex: 1;

    font-size: 11px;
    font-weight: 400;
  }
}
