@use "@angular/material" as mat;
@use "variables" as *;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: "Montserrat",
      density: 0,
    )
  );
}

* {
  box-sizing: border-box;

  font-family: "Montserrat", serif;
}

body {
  height: 100vh;
  margin: 0;

  background-color: $primary-background;
}
